body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 11rem 7rem;
}

div {
    width: 80%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin: 20px 0;
    padding: 20px;
}

canvas {
    width: 100%;
    max-width: 700px;
}
